<div class="offcanvas offcanvas-bottom h-auto" tabindex="-1" id="offcanvasOperations">
  <div class="offcanvas-header m-0 p-2">
    <h5 class="card-title m-0 p-0">
    Operation ID Monitor
    </h5>
    <button type="button" class="btn-close px-2 py-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body mx-0">
    <div class="accordion accordion-flush" id="accordionBalances">
    {% for op in vars.opids.ops %}
      <div class="accordion-item">{% include 'operationsrow', id:forloop.index %}</div>
    {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('.clear-opid').on('click', function (e) {
    e.preventDefault();
    let request=$.ajax({
      url: $(this).attr("href"),
      type: "GET",
      success: function (rsp) {
        alert("Success: " + rsp);
        location.reload();
      },
      error: function (err) {
        alert("Fatal: " + err);
      }
    });
  });
  
});
</script>